@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.dock-icon:hover ~ .dock-icon {
  transform: translateX(10px);
}

.dock-icon:hover ~ .dock-icon:hover {
  transform: translateX(0) scale(1.1);
}

